body{
    text-align: center;
    color: white;
    background: linear-gradient(
        90deg,
        rgb(153, 10, 10),
        rgb(73, 64, 64)
    );

    
    
}

h1{
    letter-spacing: 3px;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    background:linear-gradient(
        90deg,
        rgb(207, 67, 67),
        rgb(122, 82, 82)
    );
    border-radius: 20px;
    /* position: relative; */
}

img{
    width: 200px;
    height: 170px;
    margin-bottom: 20px;
    border:2px solid black;
    border-radius:20px;
    
}
table{
    margin-top:70px;
}

.local{
    width:100%;
    Height:700px;
    background-image: url(./../imgs/7d20.gif);
    background-repeat: no-repeat;
    background-size: 1050px;
    background-position: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.global{
    width:100%;
    Height:700px;
    background-image: url(./../imgs/316021549506201.gif);
    background-repeat: no-repeat;
    background-size: 1050px;
    background-position: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
}




a{
    width:150px;
    height:20px;
    background: rgba(196, 101, 209,1);
    padding:5px;
    border:5px outset rgba(83, 82, 82,0.8);
    border-radius: 20px;
    display:block;
    text-decoration: none;
    color:gold;
}

.globalhead{
    margin-top: 20px;
}


a:hover{
    background-color: rgba(255, 215, 0,0.8);
    color:green;
}
.back1{
    float:left;
}

.back2{
    margin-bottom: 20px;
    padding-right: 20px;
    float: right;
}
.back1 a{
    width:auto;
    height:auto;
    font-size: 25px;
    text-decoration: none;
    color: rgb(216, 44, 44);
    background-color: rgb(255, 250, 251);
    border: 3px outset rgba(83, 82, 82,0.8);
    border-radius: 0 40px 40px 0;
    padding: 5px 10px;
    position:absolute;
    top: 20px;
    left:10px;
}
.back2 a{
    width:auto;
    height:auto;
    font-size: 25px;
    text-decoration: none;
    color: rgb(216, 44, 44);
    background-color: rgb(255, 250, 251);

    
    border: 3px outset rgba(83, 82, 82,0.8);
    border-radius: 40px 0 0 40px;
    padding: 5px 10px;

    cursor: pointer;
    position:absolute;

    top: 20px;
    right: 10px;
}





