@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); 	
body{
	/* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
	background: linear-gradient(-18deg,rgba(17, 17, 17,0.9),gray,rgb(202, 172, 172),rgba(243, 5, 5, 0.8));
}
.table{
	width: 70%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);	
	border-collapse: collapse;
}
.shadow{
	color: blueviolet;
	text-shadow:
	0.03em 0.03em 0 black,
	0.075em 0.075em 0 white,
	0.1em 0.1em 0 black;
}
.shadow:hover{
	font-size: 40px;
	transition: 1s;
	text-decoration: underline;
	cursor: pointer;
}
.shadow2{
	text-shadow: 
	0.025em 0.025em 0 white,
	0.05em 0.05em 0 white,
	0.075em 0.075em 0 black,
	0.1em 0.1em 0 white;
}
.features-cell{
	max-width: 250px;
	font-size: 16px;
	color: black;
	border: 1px solid black;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}
.features-cell::selection{
	color: white;
	background-color: blueviolet;
}
.shade{
	background-color: #9F54E5;
}
.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.large{
	font-size: 22px;
}
.normal{
	font-size: 20px;
	font-family: 'Patrick Hand', cursive;
}
.mark::after{
	content: "\2714";
	color: blueviolet;
	font-weight: bold;
}
.choose-background{
	background-color: blueviolet;
}
.subscription{
	text-decoration: none;
	font-size: 22px;
	font-family: 'Patrick Hand', cursive;
	color: white;
	display: block;
}
.subscription:hover{
	color: black;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	font-size: 23px;
	transition: 0.3s;
}
.back1{
    float:left;
}

.back2{
    margin-bottom: 20px;
    padding-right: 20px;
    float: right;
}
.back1 a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(216, 44, 44);
    background-color: rgb(255, 250, 251);
    border: 3px outset rgba(83, 82, 82,0.8);
    border-radius: 0 40px 40px 0;
    padding: 5px 20px;
    position:absolute;
    top: 20px;
    left:10px;
}
.back2 a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(216, 44, 44);
    background-color: rgb(255, 250, 251);

    
    border: 3px outset rgba(83, 82, 82,0.8);
    border-radius: 40px 0 0 40px;
    padding: 5px 20px;

    cursor: pointer;
    position:absolute;

    top: 20px;
    right: 10px;
}